.line-chart-container {
  width: auto;
  height: 400px;

  /* margin-top: .5rem; */
  /* margin-bottom: 1rem; */

  /* border: 1px solid var(--border-color);
    border-radius: 0.5rem; */

  /* background-color: var(--bg-primary); */
}

.line-chart-svg-container {
  width: inherit;
  height: inherit;

  /* required for tooltip positioning */
  position: relative;
}

.line-chart-inner-container {
  width: inherit;
  height: inherit;

  /* padding: 1rem; */
}

.lc-tooltip {
  position: absolute;
  display: block;
  pointer-events: none;
  visibility: hidden;

  width: auto;
  padding: 10px;

  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  background-color: var(--bg-primary);
  opacity: 0.9;
  box-shadow: var(--card-shadow);

  color: var(--text-primary);

  transition: 200ms;
}

.lc-tooltip-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: JetBrains Mono, monospace;
  font-size: 11px;
  font-weight: 400;
}

/* need padding on tooltip data items, but not on the last one because it throws off rest of padding */
.lc-tooltip-data:not(:last-child) {
  margin-bottom: 3px;
}

.lc-tooltip,
.lc-tooltip-data,
.lc-tooltip-data p {
  font-size: 0.75rem;
  line-height: 0.75rem;
}

.lc-tooltip-data p {
  padding: 0;
  margin: 0;
}

.tool-tip-dot {
  /* this is a vector, it is styled by D3 in the component */
}
